---
import "../styles/global.css";
---

<header>
  <h1>Articles</h1>
</header>

<nav>
  <a href="/">Home</a>
  <a href="/videos">Videos</a>
  <a href="/photos">Photos</a>
</nav>

<main>
  <section>
    <h2>Selected Work</h2>
    <ul>
      <li><a href="https://www.himalmag.com/article/heatwave-crisis-india" target="_blank">Heatwave Crisis in India – Himal Southasian</a></li>
      <li><a href="https://scroll.in/article/1034567/cities-melting-heatwaves" target="_blank">Cities Melting Under Heatwaves – Scroll.in</a></li>
      <li><a href="https://frontline.thehindu.com/environment/article28965031.ece" target="_blank">The Forests Are Speaking – Frontline</a></li>
      <li><a href="https://www.downtoearth.org.in/news/climate-change/kerala-coast-under-threat-82735" target="_blank">Kerala’s Coast Under Threat – Down to Earth</a></li>
      <li><a href="https://himalmag.com/article/groundwater-drought-depletion" target="_blank">The Drought Below – Himal Southasian</a></li>
    </ul>
  </section>
</main>