---
import "../styles/global.css";
---

<header>
  <h1>Videos</h1>
</header>

<nav>
  <a href="/">Home</a>
  <a href="/articles">Articles</a>
  <a href="/photos">Photos</a>
</nav>

<main>
  <section>
    <h2>Featured Documentaries</h2>
    <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 1rem;">
      <iframe width="100%" height="200" src="https://www.youtube.com/embed/LINK1" title="Video 1" allowfullscreen></iframe>
      <iframe width="100%" height="200" src="https://www.youtube.com/embed/LINK2" title="Video 2" allowfullscreen></iframe>
      <iframe width="100%" height="200" src="https://www.youtube.com/embed/LINK3" title="Video 3" allowfullscreen></iframe>
      <iframe width="100%" height="200" src="https://www.youtube.com/embed/LINK4" title="Video 4" allowfullscreen></iframe>
      <iframe width="100%" height="200" src="https://www.youtube.com/embed/LINK5" title="Video 5" allowfullscreen></iframe>
    </div>
  </section>
</main>